{% extends 'layout.html' %}

{% block titre %}Admin{% endblock %}

{% block body %}
    <h1 class="title">Site list</h1>
    <table class="table is-narrow is-fullwidth">
        <thead>
        <tr>
            <th>#</th>
            <th>Url</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for site in sites %}
            <tr>
                <td style="padding-right: 50px">{{ site[0] }}</td>
                <td style="padding-right: 350px">{{ site[1] }}</td>
                <td style="padding-right: 0">
                    <a class="button is-link" href="{{ url_for('edit_site', id_site=site[0]) }}">Edit</a>
                    <a class="button is-danger" href="{{ url_for('delete_site', id_site=site[0]) }}">Delete</a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('new_site') }}" class="button is-primary">Add new site</a>
    <a href="{{ url_for('logout') }}" class="button is-dark">Log out</a>


{% endblock %}