{% extends 'layout.html' %}

{% block titre %}Index{% endblock %}

{% block body %}

    {% for site in sites %}
        {% if loop.index%4 == 0  %}
            </div>
    {% endif %}
        {% if loop.index%4 == 0 or loop.index == 1 %}
            <div class="columns">
        {% endif %}
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="title is-8"> {{ site[1] }}</h1>
                            <a class="button is-fullwidth is-large is-{% if site[2] == 200 %}success{% else %}danger{% endif %}"
                               href="{{ url_for("one_site", id_site=site[0]) }}">{{ site[2] }}</a>
                        </div>
                    </div>
                </div>


    {% endfor %}
{% endblock %}