<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'custom.css') }}">
    <title>{% block titre %}Titre par défaut{% endblock %}</title>
</head>
<body>

<nav class="navbar has-shadow is-link">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                MONOTOR 3000
            </a>
        </div>
        <div class="navbar-end">
            {% if session.get('is_login') %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <label class="navbar-link">Administration</label>
                    <div class="navbar-dropdown">
                        <a href="{{ url_for('admin') }}" class="navbar-item">
                            Main panel
                        </a>
                        <hr class="navbar-divider">
                        <a href="{{ url_for('logout') }}" class="navbar-item">
                            Log out
                        </a>
                    </div>
                </div>
            {% else %}
                <a class="navbar-item" href="{{ url_for('login') }}">Connexion</a>
            {% endif %}
        </div>
    </div>
</nav>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                {% if "Error" in message %}
                    <div class="notification is-danger">
                {% else %}
                    <div class="notification is-info">
                {% endif %}
            <div class="container">
                {{ message }}
            </div>
            </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="container" id="corps">
    {% block body %}{% endblock %}
</div>
</body>
</html>