{% extends 'layout.html' %}

{% block titre %}Les requetes{% endblock %}

{% block body %}
    <h1 class="title has-text-centered">Site: {{ all_request[0][0] }}</h1>
    <div class="columns is-centered">
        <div class="column is-one-quarter">
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>HTTP status</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for req in all_request %}
                    <tr>
                        <th class="has-text-{% if req[1] == 200 %}success{% else %}danger{% endif %}">
                            {{ req[1] }}
                        </th>
                        <th class="has-text-info">
                            {{ req[2] }}
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}